body{
    background-color: antiquewhite
}


h1, h2, h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown
}

.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}
.col1 {
    background-color: aqua;
    text-align: center;
    height: 95vh;
    align-content: center
}

.col_part1, .col_part2 {
    height: 47vh;
    overflow: auto;
    text-align: center
}

#init{
    text-align: center
}

button {
    width: 10vw;
    height: 5vh;
    border: none;
    background-color: brown;
    color: white;
    cursor: pointer;
    transition: all .2s;
    border-radius: 10px;
    outline: 0;
    margin-bottom: 40px
}

button:hover:not(.allocationButton):not(.deallocationButton):not(#impressButton) {
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.356);
    border-radius: 15px;
    width: 11vw;
    height: 5.5vh;
}

#impressButton {
    background-color: rgba(14, 10, 10, 0.42);
    width: 12vw;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-top: 50px
}

input, select {
    border-radius: 10px;
    width:150px;
    height: 25px;
    text-align: center;
    border: none;
    margin-top: 10px;
    outline: 0
}

select {
    padding-left: 10px;
}

#answer_init{
    margin-left: -27vh;
    margin-top: 42vh;
}

#answer {
    height:50vh;
    align-content: center;
    margin-top: 20vh;
    margin-left: 30vh
}

.memoryBlockContainer {
    position: relative    
}

.label {
}

.startingAtLabel {
    position: absolute;
    left: -19px;
    top: -27px
}

.endingAtLabel {
    position: absolute;
    left: -22px;
}
